    
      body {
          background-color: papayawhip;
        
      };
.two h1 {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: #5C2610;
  font-size: 3em;
  text-align: center;

}
.
      
    
