    
      body {
          background-color: papayawhip;
        
      };

        .two {
  
  padding: 50px 20px;
  text-align: center;
}
.two h1 {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: #5C2610;
  font-size: 3em;

}
.
      
    
