{% extends "base.html" %}

{% block content %}
  <h1 class="text-center">Here is home page </h1>
  {% if current_user.is_authenticated %}
  <h3>Hello, {{current_user.username}}!</h3>
  <p>Wellcome to the best survey web page you have ever faced</p>
  <p>Please follow to "survey" button above id order to proceed</p>
  <p> <a href="{{ url_for('flappy_yuras') }}">Play a cool game</a> </p>
<div class="container">
      <form class="form-horizontal" action="" method="post">
        <div class="form-group">
          <label class="control-label col-md-2">Tell something:</label>
        <div class="col-md-10">
          <input  class="form-control" name="body" placeholder="введи эту парашу">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
       </div>
      </form>
    </div>



    {% for post in posts %}
      {% include 'includes/_post.html' %}
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

  {% else %}
  <h3>Hey there, please log in</h3>
  <p>Its gonna be the best web-page you've ever seen, survey, statistics and games are looking forward for you!</p>
  <p>Sign up to make sure!</p>
  {% endif %}
  <hr>
  <h3>Overall registered: {{ num_of_users }} users</h3>
  </audio>
{% endblock %}
