{% extends "base.html" %}
{% block content %}
<style>

.jumbotron{
background-color:transparent !important;
}
</style>
  <div class="container">
    <div class="jumbotron">
      <h2 class="text-center">What do you think about the following</h2>
  
  </div>
</div>
<!--<form action="" onsubmit="return validateOpros()"> -->
<div class="panel-group" style ="padding: 20px">
  <div class="panel panel-default panel-info" id="opros_div1">
    <div class="panel-heading">Trump forever</div>
  <div class="panel-body">
  <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
  <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>

  </div>
  </div>
  <div class="panel panel-default panel-info"id="opros_div2">
    <div class="panel-heading">Putin is right</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red"></i>

  </div>
  </div>
  <div class="panel panel-default panel-info"id="opros_div3">
    <div class="panel-heading">Obama was the best</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <div class="panel panel-default panel-info"id="opros_div4">
    <div class="panel-heading">Merkel is doing gj</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <div class="panel panel-default panel-info"id="opros_div5">
    <div class="panel-heading">Ukraine is Europe</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>


  <div class="panel panel-default panel-info"id="opros_div6">
    <div class="panel-heading">Poroshenko is a good guy</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <div class="panel panel-default panel-info"id="opros_div7">
    <div class="panel-heading">Klichko is clever boy</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <div class="panel panel-default panel-info"id="opros_div8">
    <div class="panel-heading">Reagan was the best</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <div class="panel panel-default panel-info"id="opros_div9">
    <div class="panel-heading">Illuminati confirmed</div>
  <div class="panel-body">
    <span id="true" class="glyphicon glyphicon glyphicon-ok" style="font-size: 30px;color:green" ></span>
    <i id = "false" class="glyphicon glyphicon glyphicon-remove" style=" font-size: 30px; color:red" ></i>
  </div>
  </div>

  <button  type = "submit" class="btn btn-primary" id="button_submit_opros">Submit the answers</button>

  <div class="alert alert-danger collapse" role="alert" id="alert_error_opros">
  Answer all questions please 
  </div>
</div>
<!--</form>  -->
{% endblock %}
